*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 100%;
    height: 100vh;
    background-color: rgb(174, 0, 0);
    text-align: center;
    color: white;
}

.container{
    background-color: white;
    color: rgb(255, 0, 0);
    border-radius: 10px;
    width: 80%;
    margin: auto;
    padding: 1rem 0;
    margin: 1rem auto;
}
.container.due{
    text-align: left;
    color: black;
}

form{
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

label{
    display: block;
}

.contDettagli{
    width: 90%;
    margin: auto;
    text-align: center;

}
.contFlex{
    display: flex;
    justify-content: center;
}
.contSinistra, .contDestra{
    border: 1px solid grey;
    padding: 1rem;
    min-height: 5rem;
    
    
}

.contSinistra{
    background-color: grey;
    max-width: 100%;
}

th, td{
    padding: 0 2rem;
}